{% load socialaccount %}

<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Ojo's Closet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about_me/">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/mall/">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/mall/category/tops">Tops</a></li>
                            <li><a class="dropdown-item" href="/mall/category/bottoms">Bottoms</a></li>
                            <li><a class="dropdown-item" href="/mall/category/shoes">Shoes</a></li>
                            <li><a class="dropdown-item" href="/mall/category/bags">Bags</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Search widget-->
                <div class="ml-auto">
                    <div class="input-group">
                        <input class="form-control" type="text" id="search-input" aria-describedby="button-search" />
                        <button class="btn btn-outline-white" id="button-search" type="button" onclick="searchProduct()"><i class="fas fa-search"></i>Search</button>
                    </div>
                </div>

                <!-- Login-->
                <ul class="navbar-nav ml-auto">
                    <!-- 로그인이 되어 있을 때-->
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <img class="rounded-circle" width="25px"
                             src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                        {% else %}
                        <img class="rounded-circle" width="25px"
                             src="https://doitdjango.com/avatar/id/396/c5a7816bd8149d0b/svg/{user.email}/" >
                        {% endif %}
                        {{ user.username }}
                      </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/accounts/logout/">
                                Log out
                            </a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/mall/mypage/">
                                My Page
                            </a></li>
                        </ul>
                    <!-- 로그인이 안되어 있을 때-->
                    {% else %}
                    <li class="nav-item">
                      <a role="button" class="btn btn-outline-dark" href="/accounts/login/">
                          Log in
                      </a>
                    </li>
                    <li class="nav-item">
                        <a role="button" class="btn btn-outline-dark" href="/accounts/signup/">
                            Sign up
                        </a>
                    </li>
                    {% endif %}
                  </ul>

                <!-- Shopping cart-->
                <div class="ml-auto">
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="fas fa-shopping-cart"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <script>
        function searchProduct(){
            let searchValue = document.getElementById('search-input').value.trim();
            if(searchValue.length > 1){
            location.href = "/mall/search/" + searchValue + "/";
            }
            else {
                alert('검색어(' + searchValue + ')가 너무 짧습니다.');
            }
        };
        document.getElementById('search-input').addEventListener('keyup',
                    function(event) {
                        if(event.key == 'Enter') { searchProduct() }
                    }
        )
    </script>