{% extends 'mall/base.html' %}
<!--{% load crispy_forms_tags %}-->
{% block head_title %}
    {{ product.name }} - Ojo's Closet
{% endblock %}
{% block main_area %}

<!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <!-- product edit-->
            {% if user.is_authenticated %}
                {% if user.is_staff or user.is_superuser %}
                    <div class="row gx-3 align-items-right">
                        <div class="col-md-12">
                            <a href="/mall/update_product/{{product.pk}}/"
                               class="btn btn-outline-dark float-right">
                                <i class="fas fa-pen"></i>
                                Edit
                            </a>
                         </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    {% if product.image %}
                        <img class="card-img-top mb-5 mb-md-0" sizes="600*700" src="{{ product.image.url }}" alt="{{ product }}의 image" />
                    {% else %}
                        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">{{ product.category }} :: {{ product.maker }}</div>
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-5">
                        <span>₩ {{ product.price }}</span>
                    </div>
                    <p class="lead"> {{ product.get_content_markdown | safe }}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Related items section by Category-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for p in product_lists %}
                {% if product.category == p.category and p != product %}
                <!-- Product-->
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a href="{{ p.get_absolute_url }}">
                        {% if p.image %}
                                <img class="card-img-top" sizes="500*600" src="{{ p.image.url }}" alt="{{ p }}의 image" />
                        {% else %}
                                <img class="card-img-top" src="https://dummyimage.com/500x600/dee2e6/6c757d.jpg" alt="..." />
                        {% endif %}
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4 pb-0">
                            <div class="text-center">
                                <!-- Product name-->
                                <a href="{{ p.get_absolute_url }}" class="text-reset">
                                    <h5 class="fw-bolder">{{ p.name }}</h5>
                                </a>
                                <!-- Product price-->
                                ₩ {{ p.price }}
                            </div>
                        </div>
                        <!-- Product footer-->
                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                            <div class="text-left"> {{ p.maker }} </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}